 <div class="col-sm-2 sidenav hidden-xs">
    <h2> <a href="/">RSC SketchPad</a></h2>
    <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="/projects/hssppo_fellowship">Fellowship Assurance Demo</a></li>
    <li><a href="#">Future Project</a></li>
    </ul><br>
</div>