

<div class="col-sm-10">

    <!-- <div class="well" style="text-align: center">
        
    </div> -->
    
    <h4>Fellowship Assurance Unity (Demo)</h4>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">Start</a></li>
        <li><a href="#">Form Detail</a></li>
        <li><a href="#">Signature Page</a></li>
    </ul>
    <br>
    {{> hssppo/fellowship_instruction}}
    <form action="#">
        <!-- Applicant Section  -->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse1">Applicant</a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse">
                                <div class="panel-body">
                                    <div class="row onBase-panel">
                                        <div class="col-sm-6">
                                            
                                            <div class="form-group">        
                                                <label for="applicantName">Name:</label>
                                                <input type="text" class="form-control" id="applicantName">
                                    
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="applicantEmail">Email address:</label>
                                                <input type="email" class="form-control" id="applicantEmail">
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
            
                                                <label for="applicantDepartment">Department:</label>
                                                <input type="text" class="form-control" id="applicantDepartment">
                                            </div>    
                                            
                                            <div class="form-group">
            
                                                <label for="applicantTitle">Title:</label>
                                                <input type="text" class="form-control" id="applicantTitle">
            
                                            </div>   
                                        </div>
                                        
                                    </div>
                                       {{> hssppo/modal}} 
                                </div>
                            </div>
        
                        </div>
                </div>
                
            </div>
        </div>
        <!-- Sponsor Section -->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse2">UCSD Sponsor</a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse">
                                <div class="panel-body">
                                    <div class="row onBase-panel">
                                        <div class="col-sm-6">
                                            
                                            <div class="form-group">        
                                                <label for="sponsorName">Name:</label>
                                                <input type="text" class="form-control" id="sponsorName">
                                    
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="sponsorEmail">Email address:</label>
                                                <input type="email" class="form-control" id="sponsorEmail">
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
            
                                                <label for="sponsorDepartment">Department:</label>
                                                <input type="text" class="form-control" id="sponsorDepartment">
                                            </div>    
                                            
                                            <div class="form-group">
            
                                                <label for="sponsorTitle">Title:</label>
                                                <input type="text" class="form-control" id="sponsorTitle">
            
                                            </div>   
                                        </div>
                                       {{> hssppo/modal}} 
                                    </div>
                                </div>
                            </div>
        
                        </div>
                </div>
                
            </div>
        </div>
        <!-- UCSD Department Chair Section-->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse3">UCSD Department Chair</a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse">
                                <div class="panel-body">
                                    <div class="row onBase-panel">
                                        <div class="col-sm-6">
                                            
                                            <div class="form-group">        
                                                <label for="chairName">Name:</label>
                                                <input type="text" class="form-control" id="chairName">
                                    
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="chairEmail">Email address:</label>
                                                <input type="email" class="form-control" id="chairEmail">
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
            
                                                <label for="chairDepartment">Department:</label>
                                                <input type="text" class="form-control" id="chairDepartment">
                                            </div>    
                                            
                                            <div class="form-group">
            
                                                <label for="chairTitle">Title:</label>
                                                <input type="text" class="form-control" id="chairTitle">
            
                                            </div>   
                                        </div>
                                        
                                    </div>
                                       {{> hssppo/modal}} 
                                </div>
                            </div>
        
                        </div>
                </div>
                
            </div>
        </div> 
        <!-- Sponsor's Fund Manager Section -->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse4">Sponsor's Fund Manager</a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse">
                                <div class="panel-body">
                                    <div class="row onBase-panel">
                                        <div class="col-sm-6">
                                            
                                            <div class="form-group">        
                                                <label for="sponsorFMName">Name:</label>
                                                <select type="text" class="form-control" id="sponsorFMName">
                                                    <option id="Widjaja" value="Ari">Widjaja, Ari</option>
                                                    <option id="Perez" value="Alan">Perez, Alan</option>
                                                    <option id="Rosenzweig" value="Eric">Rosenzweig, Eric</option>
                                                    <option id="Machado" value="Steve">Machado, Steve</option>
                                                </select>   
                                            </div>
                                                                                
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="sponsorFMEmail">Email address:</label>
                                                <input type="email" class="form-control" id="sponsorFMEmail">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                        </div>
                </div>
                
            </div>
        </div> 
        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
        </div>           
    </form>
</div>



