<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <h2>Instruction for {{title}}</h2>
            <p>To start please answer the following questions and have the following items ready:</p>
            <ul>
                <li>Do you have an eRA Commons account?</li>
                <li> <b>NRSA Budget Workbook</b> </li>
                <ul>
                    <li>URL: https://medschool.ucsd.edu/vchs/research-services/hssppo/fellows/process/Documents/NIH%20NRSA%20Budget%20Workbook%2011-27-2018.xls</li>
                </ul>
                <li> <b>Assist package</b> </li>
                <ul>
                    <li>URL: https://grants.nih.gov/grants/how-to-apply-application-guide/prepare-to-apply-and-register/submission-options/assist.htm</li>
                </ul>
            </ul>
            <p>Please make sure your Fund Manager uploads the following documents into ePD: 
                your NRSA Budget Workbook and a placeholder for the Final Application (I will be the one uploading the Final Application into ePD by replacing the placeholder with it, after submission).  </p>
            <p>Please review our website for important information and resources:  </p>
            <p>https://medschool.ucsd.edu/vchs/research-services/hssppo/fellows/process/Pages/NIH-NRSA-Fellowships.aspx</p>
            
        </div>
    </div>    
</div>